.chat {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 256px;
	right: 0;
	display: flex;
	flex-direction: column;
}

.chat .messages {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}
.chat .send-message {
	display: flex;
}

.chat .chat-header {
	padding: var(--default-padding);
}
.chat textarea {
	width: 100%;
	border: 1px solid #ccc;
	height: 3rem;
	font-size: 1rem;
	outline: none;
}

@media (max-width: 600px) {
	.chat {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 50px;
		right: 0px;
		display: flex;
		flex-direction: column;
	}
}
