html {
	box-sizing: border-box;
	background-color: #fff;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	--default-padding: 1rem;

	--primary-color: #3498db;
	--primary-shadow-color: #2980b9;
	--success-color: #2ecc71;
	--success-shadow-color: #27ae60;
	--warning-color: #e74c3c;
	--warning-shadow-color: #c0392b;

	transition: all ease 0.25s;
}

.container-main {
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ccc;
}

.container-main .panel {
	padding: var(--default-padding);
	background-color: #fff;
	min-width: 30%;
}
.container-main .panel form {
	display: flex;
	flex-direction: column;
	gap: var(--default-padding);
}

.form-item {
	display: block;
	width: 100%;
}
.form-item > * {
	display: inline-block;
}

.btn {
	font-size: 1rem;
	padding: calc(var(--default-padding) / 2);
	cursor: pointer;

	background-color: transparent;

	border: 1px solid black;
	color: black;

	border-radius: 0.25rem;
}
.btn .btn-icon {
	display: inline-block;
	margin: 0px 0.25rem;
}
.btn .btn-icon.spinner {
	animation: rotation 2s infinite linear;
}
.btn.normal {
	color: #fff;
	border: none;
	background-color: var(--primary-color);
}
.btn.normal:hover {
	background-color: var(--primary-shadow-color);
}

.alert {
	position: relative;
	z-index: 1;
	width: 100%;
	padding: calc(var(--default-padding) / 2);
	background-color: transparent;
	border-radius: 0.25rem;
	overflow: hidden;
}
.alert::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 50%;
	z-index: -1;
}
.alert.error {
	border: 1px solid var(--warning-shadow-color);
}
.alert.error::before {
	background-color: var(--warning-color);
}
.alert.success {
	border: 1px solid var(--success-shadow-color);
}
.alert.success::before {
	background-color: var(--success-color);
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
.profilePicture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: contain;
	border: 1px dashed black;
}
.online {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: var(--success-color);
	display: inline-block;
}
.offline {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: var(--warning-color);
	display: inline-block;
}
.user {
	display: flex;
	gap: var(--default-padding);
	align-items: center;
}
.user.hover:hover {
	cursor: pointer;
	background-color: #bbb;
}
.user .info {
	display: flex;
	flex-direction: column;
}
.user .info span {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	gap: 0.2rem;
}
.user.S .profilePicture {
	width: 35px;
	height: 35px;
}
.user.S .online,
.user.S .offline {
	width: 0.5rem;
	height: 0.5rem;
}
