.message {
	display: flex;
	padding: var(--default-padding);
}
.message img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: fill;
}
.message .message-body {
	width: 100%;
}
.message .message-body .message-body-header {
	display: flex;
	justify-content: space-between;
}
.message .message-body .message-body-header span {
	color: #888;
}
